    <%- include('header') %>
    
      <h1 class="title col-lg-12">RURAL ROADS</h1>
      <div class="inner-content about">
        <p><%= __('about.heavy.band') %></p>         
        <img class="atual-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/6.jpg" class="img-fluid" alt="Responsive image">
        <p><%= __('about.formiga') %><br />
           <%= __('about.bu') %><br />
           <%= __('about.gian') %><br />
           <%= __('about.will') %><br /></p>
      </div>
      <h1 class="title col-lg-12"><%= __('about.bio') %></h1>
      <div class="inner-content about">
        <h2 class="title col-lg-12"></h2>
        <p><%= __('about.founded.by.formiga.and.papao') %></p>         
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/0.jpg" class="img-fluid" alt="Responsive image">
        <p><%= __('about.irwin') %><br />
           <%= __('about.formiga.old') %><br />
           <%= __('about.jet') %><br />
           <%= __('about.papao') %><br /></p>

        <p><%= __('about.debug.fbb') %></p>
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/1.jpg" class="img-fluid" alt="Responsive image">

        <p><%= __('about.after.six.months') %></p>
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/2.jpg" class="img-fluid" alt="Responsive image">

        <p><%= __('about.hiatus.period') %></p>
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/3.jpg" class="img-fluid" alt="Responsive image">
        
        <p><%= __('about.will.guitar') %></p>
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/4.jpg" class="img-fluid" alt="Responsive image">

        <p><%= __('about.between.2013.2015') %></p>

        <p><%= __('about.papao.exit') %></p>
        <img class="bio-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/5.jpg" class="img-fluid" alt="Responsive image">

        <p><%= __('about.single.ride.album') %></p>
        <img class="atual-image" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/biografia/7.jpg" class="img-fluid" alt="Responsive image">
      </div>

    <%- include('footer') %>