<%- include('header') %>

    <h1 class="title col-lg-12"><%= __('contact.title') %></h1>

    <div class="inner-content about">

        <% if (locals.sent) { %>        
            <h3 style="color: rgba(232,175,16, 1);"><%= __('contact.msg.received') %></h3 style="color: rgba(232,175,16, 1);">
        <% } else { %>        

        <p style="color:white"><%= __('contact.contact.us.email') %></p>
        <a href="mailto:ruralroadsbanda@gmail.com">
            <p>ruralroadsbanda@gmail.com</p>
        </a>
        <br />
        <p style="color:white"><%= __('contact.or.fill.form') %></p>
        <form id="sxx" method="POST" action="/contact" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="name" style="color:white" ><%= __('contact.name') %></label>
                <input type="text"
                       required="required" 
                       class=" form-control form-control-sm col-lg-12 col-12" 
                       name="name"
                       id="name"  >
                <div class="invalid-feedback">
                    <%= __('contact.name.required') %>
                </div>
            </div>

            <div class="form-group">
                <label for="telephone" style="color:white" ><%= __('contact.phone') %></label>
                <input type="tel"
                       class="form-control form-control-sm col-lg-6 col-sm-12"
                       id="telephone"
                       name="telephone">
                <div class="invalid-feedback">
                    <%= __('contact.phone.invalid') %>
                </div>
            </div>

            <div class="form-group">
                <label for="email" style="color:white" ><%= __('contact.email') %></label>
                <input type="email" 
                       class="form-control form-control-sm  col-lg-12 col-sm-12"
                       id="email"
                       name="email">
                <div class="invalid-feedback">
                    <%= __('contact.email.invalid') %>
                </div>
            </div>
            <div class="form-group">
                <label for="message" style="color:white" ><%= __('contact.message') %></label>
                <textarea required="required"
                          class="form-control form-control-sm col-lg-12 col-sm-12"
                          id="message"
                          name="message"
                          rows="5"></textarea>
                <div class="invalid-feedback">
                    <%= __('contact.message.required') %>
                </div>
            </div>
                <button type="submit" style="margin-right:10px;" class="btn btn-outline-warning"><%= __('contact.bt.send') %></button>
                <button type="reset" class="btn btn-outline-secondary"><%= __('contact.bt.clean') %></button>
        </form>
        <% }  %>        
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>

<%- include('footer') %>
