<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/default.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Rural Roads</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-between">
        <div class="navbar-brand title">
          <a class="navbar-brand"  href="/">
            <img class="logo" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/logo.svg?sanitize=true"  >
            Rural Roads
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%- locals.active === 'main' ? 'active' : '' %>">
              <a class="nav-link" href="/"><%= __('menu.home') %></a>
            </li>
            <li class="nav-item <%- locals.active === 'about' ? 'active' : '' %>">
              <a class="nav-link" href="/about"><%= __('menu.about') %></a>
            </li>
            <li class="nav-item <%- locals.active === 'videos' ? 'active' : '' %>">
              <a class="nav-link" href="/videos"><%= __('menu.videos') %></a>
            </li>
            <li class="nav-item <%- locals.active === 'contact' ? 'active' : '' %>">
              <a class="nav-link" href="/contact"><%= __('menu.contact') %></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a>&nbsp;</a>
            </li>
            <% if (locals.language !== 'pt') { %>
              <li class="nav-item">
                <a class="nav-link" href="/lang?lang=pt">Português</a>
              </li>
            <% }  %>
            <% if (!locals.language || locals.language !== 'en') { %>
              <li class="nav-item">
                <a class="nav-link" href="/lang?lang=en">English</a>
              </li>
            <% }  %>
          </ul>
        </div>

      </nav>
      <div class="container main">
