<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/default.css">
    <title>Rural Roads</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a data-scroll class="navbar-brand title" href="#">Rural Roads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%- locals.active === 'main' ? 'active' : '' %>">
              <a data-scroll class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item <%- locals.active === 'main' ? 'active' : '' %>">
              <a data-scroll class="nav-link" href="#about">Sobre a banda</a>
            </li>
            <li class="nav-item <%- locals.active === 'contact' ? 'active' : '' %>">
              <a data-scroll class="nav-link" href="/contact">Contato</a>
            </li>
            <li class="nav-item <%- locals.active === 'tour' ? 'active' : '' %>">
              <a data-scroll class="nav-link " href="/tour">Agenda</a>
            </li>
            <li class="nav-item <%- locals.active === 'photos' ? 'active' : '' %>">
              <a data-scroll class="nav-link " href="/photos">Fotos</a>
            </li>
            <li class="nav-item <%- locals.active === 'videos' ? 'active' : '' %>">
              <a data-scroll class="nav-link " href="/videos">Vídeos</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container main">
        <img class="mx-auto d-block logo" src="images/logo.svg"  alt="Rural Roads" >