    <%- include('header') %>

    <div class="row">
      <div class="col-lg-6">
        <h1 class="title col-lg-12 order-1"><%= __('home.new.album') %><br /><%= __('home.available') %>
        </h1>
        <a href="https://open.spotify.com/artist/0Hjg5nGXnQ561j4Wm444D5" target="_blank">
          <img class="main-album" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/album-small.png" >
        </a>
      </div>
      <div class="col-lg-6 order-3 order-lg-2">
        <h1 class="title col-lg-12">NO TIME TO REALIZE IT<br />(LYRIC VIDEO)</h1>
        <div class="embed-responsive embed-responsive-16by9 col-12 mx-auto">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NPbG0mfpLa0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6  order-2 order-lg-3 " >
        <h1 class="title col-lg-12"><%= __('home.listen.in') %></h1>
        <div class="row">
          <div class="col-lg-2 col-0"></div>
            <a href="https://open.spotify.com/artist/0Hjg5nGXnQ561j4Wm444D5" class="col-lg-2 col-3 " target="_blank">
            <img class="social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/spotify.svg?sanitize=true"  alt="Spotify" >
          </a>
          <a href="https://itunes.apple.com/us/artist/1441140961" class="col-lg-2 col-3 " target="_blank">
            <img class="social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/itunes.svg?sanitize=true"  alt="Apple Music" >
          </a>
          <a href="https://music.youtube.com/channel/UChnPv1pLuPd1aZE7Q4qo0Gw" class="col-lg-2 col-3 " target="_blank">
            <img class=" social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/youtube-music.svg?sanitize=true"  alt="Youtube Music" >
          </a>
          <a href="https://www.deezer.com/br/album/79699542" class="col-lg-2 col-3 " target="_blank">
            <img class=" social-bar fix-deezer" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/deezer.svg?sanitize=true"  alt="Deezer" >
          </a>
          <div class="col-lg-2 col-0"></div>
        </div>
      </div>

      <div class="col-lg-6 order-4">
        <h1 class="title col-lg-12"><%= __('home.follow.us') %></h1>
        <div class="row">
          <div class="col-lg-2 col-0"></div>
          <a href="https://youtube.com/RuralRoads" class="col-lg-2 col-3 " target="_blank">
            <img class="social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/youtube.svg?sanitize=true"  alt="Youtube" >
          </a>
          <a href="https://facebook.com/RuralRoadsBand" class="col-lg-2 col-3 "  target="_blank">
            <img class=" social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/facebook.svg?sanitize=true"  alt="Facebook" >
          </a>
          <a href="https://instagram.com/RuralRoadsBand" class="col-lg-2 col-3 " target="_blank">
            <img class=" social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/instagram.svg?sanitize=true"  alt="Instagram" >
          </a>
          <a href="https://twitter.com/RuralRoadsBand" class="col-lg-2 col-3 " target="_blank">
            <img class=" social-bar" src="https://raw.githubusercontent.com/willsg89/rural-roads/master/public/images/twitter.svg?sanitize=true"  alt="Twitter" >
          </a>
          <div class="col-lg-2 col-0"></div>
        </div>
      </div>
    </div>

    <%- include('footer') %>
