<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12">AGENDA</h1>

    <% if (locals.tourDates && locals.tourDates.length) { %>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Evento</th>
            <th scope="col">Local</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <% locals.tourDates.forEach( function(tourDate) { %>
          <tr>
            <td class="dateDDMMYYYY"><%- tourDate.date %></td>
            <td><%- tourDate.event %></td>
            <td><%- tourDate.local %></td>
            <td><a href="<%- tourDate.link %>" target="_blank" >Ir</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      sem datas cadastradas
    <% } %>
</div>

<%- include('footer') %>
