<%- include('header') %>

<div class="row">
    <h1 class="title col-lg-12"><%= __('videos.title') %></h1>

    <div class="col-12 col-md-6" style="padding: 15px">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uG5Qj0tKcI4" allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="301650531" data-gtm-yt-inspected-2340190_908="true"></iframe>
        </div>
        <h5 style="margin-top: 20px; color:white; text-align: center;"><%= __('videos.album.desc') %></h5> 
    </div>

    <div class="col-12 col-md-6" style="padding: 15px">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/67y6g61OaaM" allowfullscreen="" data-gtm-yt-inspected-2340190_699="true" id="301650531" data-gtm-yt-inspected-2340190_908="true"></iframe>
        </div>
        <h5 style="margin-top: 20px; color:white; text-align: center;"><%= __('videos.ride.desc') %></h5> 
    </div>

</div>

<%- include('footer') %>
